@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

body {
  background-color: rgb(248, 248, 248);
  display: grid;
  place-content: center;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  font-size: 2rem;
}

.container {
  height: 80vh;
  width: 50vh;
  background-color: rgb(12, 74, 80);
  border-radius: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.screen {
  grid-column: 1 / -1;
  color: white;
  text-align: right;
  padding: 0.5rem;
  font-size: 4rem;
  overflow: hidden;
  background-color: rgb(122, 118, 118);
}

.btn {
  display: grid;
  place-content: center;
  background-color: rgba(53, 190, 25, 0.856);
  border-radius: 10%;
  color: rgb(12, 12, 12);
  cursor: pointer;
  font-weight: bold;
}
.btn:hover {
  background-color: rgb(241, 155, 155);
}

.light-gray {
  background-color: rgb(15, 70, 4);
  color: black;
}

.light-gray:hover {
  background-color: rgb(233, 230, 55);
}

.orange {
  background-color: rgb(15, 70, 4);
}

.orange:hover {
  background-color: rgb(208, 231, 76);
  color: rgb(15, 15, 15);
}

.zero {
  grid-column: 1 / span 2;
  border-radius: 25px;
  place-content: unset;
  align-items: center;
  padding-left: 2rem;
}